*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}

body{
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 32%, rgba(128, 52, 235, 1) 100%, rgba(87, 199, 133, 1) 100%, rgba(65, 131, 217, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.logo{
    width: 100px;
}
h1{
margin: auto;
margin: 20px;
text-transform: uppercase;

}
section{
    margin: auto;
    width: 60vw;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}
.qrcode1 img{
    border-radius: 25px;
    padding: 10px;
width: 400px;
}
.qrcode1{
    display: flex;
    border: 0.5px solid #ffffff86 ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8034eb79;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

p{
    font-size: 28px;
    margin: 10px;
}
